{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl_PL">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Trener muzyki</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<header>
		<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
			<nav id="my-navbar" class="navbar navbar-default" role="navigation">
				<div class="container-fluid">

					<div class="navbar-header">
						<a class="navbar-brand" href="/">TRENER MUZYKI</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							{% if user.is_authenticated  %}
								<li><a href="/accounts/profile/">{{user.get_username}}</a></li>
								<li class="active"><a href="/logout/">Wyloguj</a></li>
							{% else %}	
								<li class="active"><a href="/login/">Zaloguj</a></li>
								<li><a href="/register/">Zarejestruj</a></li>
							{% endif %}
							<li><a href="/info/">Informacje o programie</a></li>
							<li><a href="/intro/">Wprowadzenie</a></li>
						</ul>
					</div>

				</div> <!-- container-fluid -->
			</nav>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 menu">
					<div class="list-group">
						<a href="/dyktando" class="list-group-item menu-item">Dyktando</a>
						<a href="/interwaly/" class="list-group-item menu-item">Ćwiczenia interwałów</a>
						<a href="/rytmika/" class="list-group-item menu-item">Ćwiczenia rytmiki</a>
						<a href="/teoria/" class="list-group-item menu-item">Teoria</a>
					</div>
				</div>
				<div id='my-content' class="col-md-10 content">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

	</body>
</html> 
