{% extends "dyktando/base.html" %}
{% load staticfiles %}
{% block content %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<script src="{% static 'js/abcjs_editor_latest-min.js' %}" type="text/javascript"></script>
		<style>
			#font-face {
				font-family: Notes;
				src: url("fonts/Lassus/LASSUS.woff");
			}
			body {
				background-color: white;
				color: black;
			}
			textarea {
				background-color: white;
				color: black;
				display: none;
			}
			.panel_button {
				background-color: white;
				color: black;
				font-size: 30px;
				margin: 0px;
				padding: 0px 10px;
				width: 53px;
				height: 50px;
				/*border: 1px*/
				/*border-radius: 15px;*/
				background-color: #eee;
			}
			.player_buttons {
				background-color: white;
				color: black;
				font-size: 30px;
				margin: 0px;
				padding: 0px 10px;
				width: 90px;
				height: 40px;
				background-color: #cb9;
			}
			.play-button {
			}
			.container {
				background-color: #fff;
			}
			#panel {
				/*background-color: black;*/
				/*border: 1px solid blue;*/
			}
			#canvas_id {
				margin: 20px;
			}
		</style>
	</head>
	<!--<body onkeyup="keyUpHandler(event)">-->
		<body>
			<div class="container">
				<div id="warnings_id"></div>
				<div class="row">
					<textarea id="editor_id" cols=0 rows=0>X: 1
						M: 4/4
						L: 1/8
						R: reel
						K: Emin
						| </textarea>
				</div>

				<div class="row">
					<div class="container">
						<div class="left_subpanel col-md-5">
							<button type="button" class="btn btn-default player_buttons play-button">
								<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default player_buttons pause-button">
								<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
							</button>
							<button type="button" class="btn btn-default player_buttons stop-button">
								<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>

				<hr>
				<div class="row">

					<!--
					<div class="container">
						<button class="btn btn-default btn-lg" id="toggle_panel_button" onclick="toggle_panel()">toggle panel</button>
						<button class="btn btn-default btn-lg" id="toggle_keyboard_capture_button">toggle keyboard capture</button>
						<button class="btn btn-default btn-lg" id="toggle_editor" onclick="Panel.Actions.ToggleTextEditor()">Editor</button>
					</div>
					<hr>
					-->

					<div class="container" id="panel">
						<div class="left_subpanel col-md-5">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('c')">c</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('d')">d</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('e')">e</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('f')">f</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('g')">g</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('a')">a</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('b')">h</button>
								</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('C')">C</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('D')">D</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('E')">E</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('F')">F</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('G')">G</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('A')">A</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('B')">H</button>
							</div>
						</div>

						<div class="col-md-3">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default panel_button" id="duration_button0" onclick="Panel.Actions.SetDuration('')">&#x1D160</button>
								<button type="button" class="btn btn-default panel_button" id="duration_button2" onclick="Panel.Actions.SetDuration('2')">&#x1D15F</button>
								<button type="button" class="btn btn-default panel_button" id="duration_button4" onclick="Panel.Actions.SetDuration('4')">&#x1D15E</button>
								<button type="button" class="btn btn-default panel_button" id="duration_button8" onclick="Panel.Actions.SetDuration('8')">&#x1D15D</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default panel_button" id="augmentation_dot">&#x1D16D</button>

							</div>
						</div>
						<div class="col-md-4">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default panel_button" id="flat_toggle_button" onclick="Panel.Actions.ToggleOrnament('b')">&#x266D</button>
								<button type="button" class="btn btn-default panel_button" id="cross_toggle_button" onclick="Panel.Actions.ToggleOrnament('#')">&#x266F</button>
								<button type="button" class="btn btn-default panel_button">&#x266E</button>
								<button type="button" class="btn btn-default panel_button" onclick="chagned('##'")>&#x1D12A</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('|')">&#x1D100</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote(':|')">&#x1D107</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('|:')">&#x1D106</button>
								<button type="button" class="btn btn-default panel_button" onclick="Panel.Actions.InsertNote('\r')">\r</button>
							</div>
						</div>
					</div> <!-- panel -->
				</div> <!-- row -->

				<hr>

				<div class="row">
					<div id="canvas_id"></div>
				</div>

				<hr>
				<br>
				<!--<button onclick="dajFokus()">Daj fokus na input</button>-->
			</div> <!-- panel -->
	<!-- </div> row -->

<script type="text/javascript">

	var Panel = new Object();

	/* Wciśnięte przyciski */
	Panel.Selection = new Object();
	Panel.Selection.duration = ''; // wskazuje na zaznaczoną nutę
	Panel.Selection.flat = false; // wskazuje, czy zaznaczony jest bemol
	Panel.Selection.cross = false; // wskazuje, czy zaznaczony jest krzyżyk
	Panel.Selection.double_cross = false; // wskazuje, czy zaznaczony jest podwójny krzyżyk
	// TODO dodać kropkę

	/* Ogólne ustawienia */
	Panel.Settings = new Object();
	//Panel.Settings.checked_color = "#5914C1";
	//Panel.Settings.unchecked_color = "#B974FF";
	Panel.Settings.checked_color = "#ada";
	Panel.Settings.unchecked_color = "#eee";
	Panel.Settings.cleanedSteve = "";

	/* */
	Panel.Actions = new Object();

	/* Pokazuje/ukrywa edytor tekstowy abcjs */
	Panel.Actions.ToggleTextEditor = function() {
		editor = document.getElementById("editor_id");
		editor.style.display = (editor.style.display == "block" ? "none" : "block");
	}

	/* Czyści pięciolinię */
	Panel.Actions.CleanSteve = function() {
		defaultValue = "X: 1\rM: 4/4\rL: 1/8\rK: Emin\r|";
		editor = document.getElementById("editor_id");
		editor.value = defaultValue;

	};
	Panel.Actions.CleanSteve();

	/* Ustawia długość nuty i koloruje odpowiednie przyciski */
	Panel.Actions.SetDuration = function(duration) {
		Panel.Selection.duration = duration;

		colors = [];
		for (i = 0; i < 4; ++i)
			colors[i] = Panel.Settings.unchecked_color;

		buttons = [document.getElementById("duration_button0"),
			document.getElementById("duration_button2"),
			document.getElementById("duration_button4"),
			document.getElementById("duration_button8")
		];

		if (duration == '') {
			colors[0] = Panel.Settings.checked_color;
		} else if (duration == '2') {
			colors[1] = Panel.Settings.checked_color;
		} else if (duration == '4') {
			colors[2] = Panel.Settings.checked_color;
		} else if (duration == '8') {
			colors[3] = Panel.Settings.checked_color;
		} else {
			console.log("Error in duration: Nie ma dopasowania, duration = " + duration);
		}

		for (i = 0; i < 4; i++)
			buttons[i].style.backgroundColor = colors[i];
	};

	/* Wyświetla nutę na pięciolinii */
	Panel.Actions.InsertNote = function(note) {
		console.log("Inserted note: " + note)
		if (note != '|' && note != '\r') {
			note += Panel.Selection.duration;
			if (Panel.Selection.flat)
				note = "_" + note;
			if (Panel.Selection.cross)
				note = "^" + note;
		}
		var text_area = document.getElementById("editor_id");
		text_area.value += note;
		editor.update();
	};

	function f() {
		console.log("captured modification");
	}

	Panel.Actions.CleanOrnaments = function() {
		Panel.Selection.cross = false;
		Panel.Selection.flat = false;

		/* ustawia kolory */
	}

	/* Pokazuje/ukrywa ozdobnik */
	Panel.Actions.ToggleOrnament = function(ornament) {
		if (ornament == "#")
			Panel.Selection.cross = !Panel.Selection.cross;
		if (ornament == "b")
			Panel.Selection.flat = !Panel.Selection.flat;
	}

	function test(elem) {
		console.log("called test: " + elem);
	}
	function test2(elem) {
		console.log("called test2: " + elem);
	}
	function test3() {
		console.log("selection changed");
	}

	window.onload = function() {
		editor = new ABCJS.Editor("editor_id", {
			canvas_id: "canvas_id",
			warnings_id: "warnings_id",
			parser_params: {},
			onchange: f,
			highlight: test,
			fireSelectionChanged: test3,
			render_options: {
				//editable: true,
				listener: { highlight: test, modelChanged: test2 },
				scale: 1,
				paddingleft: 30,
				paddingtop: 30,
				paddingbottom: 30,
				paddingright: 30,
				staffwidth: 2000,
				add_classes: true,
			}
		});
	}

</script>
<script>
	var tarea = document.getElementById("editor_id");
	function check_button(button) {
		button.style.backgroundColor = "green";
	}
	function uncheck_button(button) {
		button.style.backgroundColor = "";
	}
	function flat_toggle() {
		flat = !flat;
		if (flat && cross) {
			cross_toggle();
		}
		var button = document.getElementById("flat_toggle_button");
		if (flat) {
			check_button(button);
			} else {
			uncheck_button(button);
		}
	}

	function cross_toggle() {
		cross = !cross;
		if (cross && flat) {
			flat_toggle();
		}
		var button = document.getElementById("cross_toggle_button");
		if (cross) {
			check_button(button);
			} else {
			uncheck_button(button);
		}
	}

	function keyUpHandler(e) {
		console.log("kod: " + e.keyCode + "\nlitera: " + String.fromCharCode(e.keyCode));
		cc = e.keyCode;
		c = String.fromCharCode(e.keyCode);
		if ((cc>0x40 && cc<=0x5A) || (cc>0x60 && cc<=0x7A) || c == '|' || cc == 13)
		changed(c);
		if (cc > 0x30 && cc < 0x39)
		duration(c);
	}
	function dajFokus() {
		console.log("Input focus");
		l = tarea.value.length;
		tarea.setRangeText(l-1, l-1);
		tarea.focus();
	}

	display_panel = true;
	function toggle_panel() {
		if (display_panel)
		display_panel = false;
		else
		display_panel = true;

		document.getElementById("panel").style.display =
		(display_panel == true ? "block" : "none");
	}
</script>
	</body>
</html>
{% endblock %}
