{% extends "dyktando/base.html" %}

{% block content %}

<h1>Informacje o programie</h1>

<p>Aplikacja została wykonana na zajęciach z Inżynierii oprogramowania.</p>
<p>Trener muzyki został wykonany w <a href="https://www.djangoproject.com/">Django.</a></p>
<p>Autorzy: Mateusz Leśniak, Jan Lisicki, Dawid Miftadinow</p>

{% endblock %}
