{% extends "dyktando/base.html" %}
{% load staticfiles %}

{% block head %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- selectpicker -->
		<link rel="stylesheet" href="{% static 'js/bootstrap-select/dist/css/bootstrap-select.css' %}">
		<script src="{% static 'js/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
	<!-- polyfill -->
	<script src="{% static 'js/MIDI.js/inc/shim/Base64.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/inc/shim/Base64binary.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/inc/shim/WebAudioAPI.js' %}" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="{% static 'js/MIDI.js/js/midi/audioDetect.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/js/midi/gm.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/js/midi/loader.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/js/midi/plugin.audiotag.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/js/midi/plugin.webaudio.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/js/midi/plugin.webmidi.js' %}" type="text/javascript"></script>
	<!-- utils -->
	<script src="{% static 'js/MIDI.js/js/util/dom_request_xhr.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/MIDI.js/js/util/dom_request_script.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<style>
	.interval-content {
		background-color: #fff;
		border-radius: 5px;
		/*border: 20px solid #eee;*/
		padding: 30px;
	}
	#settings-content {
		background-color: white;
		border-radius: 5px;
		border-top: 5px solid #282;
	}
	#statystyki {
		margin: 0px auto;
		border-radius: 5px;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
		font-size: 20px;
		background-color: #eee;
	}
	#val_bilans_valid {
		color: #282;
	}
	#val_bilans_invalid {
		color: #822;
	}
	#interval-buttons {
		margin-top: 30px;
		background-color: #fff;
	}
	.statystyka {
		font-weight: bold;
		font-size: 20px;
	}
	.wartosc-statystyki {
		display: inline;
		color: #282;
		font-size: 25px;
	}
	#manager-content {
		/*visibility: hidden;*/
		display: none;
	}
	.testing-stat {
		font-size: 60px;
		/*color: green;*/
	}
	.interval-but {
		background-color: #eee;
		color: black;
		border-top: 3px solid #282;
		margin: 3px;
		/*border-bottom: 4px solid #000;*/
	}
	.interval-but2 {
		background-color: #eee;
		color: black;
		border-top: 4px solid #282;
		/*border-bottom: 4px solid #000;*/
	}
</style>


<div class="container-fluid interval-content">

	<!-- SETTINGS -->
	<div class="container-fluid">
		<div id="settings-content" class="col-md-10">
			<h2>Wprowadź początkowe ustawienia</h2>

			<hr>
			<!-- Lista wyboru liczby zapytań o podanie interwału -->
			<form class="form-inline">
				<div class="form-group">
					<label class="col-md-1 control-label" for="lunch">Liczba zapytań:</label>
				</div>
				<div class="form-group">
					<select id="lunch" class="selectpicker" data-live-search="true" title="Wybierz...">
						<option data-subtext="(5)">Krótkie ćwiczenie</option>
						<option data-subtext="(10)">Zwykłe ćwiczenie</option>
						<option data-subtext="(20)">Długie ćwiczenie</option>
						<option data-subtext="(bez limitu)">Trening</option>
						<option>Tryb niestandardowy</option>
					</select>
				</div>
			</form>

			<hr>
			<form class="form-inline">
				<div class="form-group">
					<label class="col-md-1 control-label" for="lunch">Interwał minimalny:</label>
				</div>
				<div class="form-group">
					<select id="minint" class="selectpicker" data-live-search="true" title="Wybierz...">
						<option data-subtext="(0)">Pryma</option>
						<option data-subtext="(1)">Sekunda mała</option>
						<option data-subtext="(2)">Sekunda wielka</option>
						<option data-subtext="(3)">Tercja mała</option>
						<option data-subtext="(4)">Tercja wielka</option>
						<option data-subtext="(5)">Kwarta</option>
						<option data-subtext="(6)">Tryton</option>
						<option data-subtext="(7)">Kwinta</option>
						<option data-subtext="(8)">Seksta mała</option>
						<option data-subtext="(9)">Seksta wielka</option>
						<option data-subtext="(10)">Septyma mała</option>
						<option data-subtext="(11)">Septyma wielka</option>
						<option data-subtext="(12)">Oktawa</option>
					</select>
				</div>
			</form>

			<hr>
			<form class="form-inline">
				<div class="form-group">
					<label class="col-md-1 control-label" for="lunch">Interwał maksymalny:</label>
				</div>
				<div class="form-group">
					<select id="maxint" class="selectpicker" data-live-search="true" title="Wybierz...">
						<option data-subtext="(0)">Pryma</option>
						<option data-subtext="(1)">Sekunda mała</option>
						<option data-subtext="(2)">Sekunda wielka</option>
						<option data-subtext="(3)">Tercja mała</option>
						<option data-subtext="(4)">Tercja wielka</option>
						<option data-subtext="(5)">Kwarta</option>
						<option data-subtext="(6)">Tryton</option>
						<option data-subtext="(7)">Kwinta</option>
						<option data-subtext="(8)">Seksta mała</option>
						<option data-subtext="(9)">Seksta wielka</option>
						<option data-subtext="(10)">Septyma mała</option>
						<option data-subtext="(11)">Septyma wielka</option>
						<option data-subtext="(12)">Oktawa</option>
					</select>
				</div>
			</form>

			<hr>
			<button id="next" class="btn btn-success btn-block" onclick="SetSettings()">Dalej</button>
		</div> <!-- .col-md-8 -->
	</div> <!-- .container -->
	<!-- SETTINGS -->

	<!-- INTERVALS -->
	<div id="manager-content" class="row">
		<div class="col-md-9 col-md-offset-1">
			<div id="player">
				<div class="row">
					<div id="statystyki">
						<!-- TESTING -->
						<center>
							<div class="row">
								<div class="container">
									<div class="col-md-3 col-centered">
										<div class="row">
											<span id="val_bilans_valid" class="testing-stat">44</span>
											<span style="color:black" class="testing-stat">:</span>
											<span id="val_bilans_invalid" class="testing-stat" style="color:red">0</span>
										</div>
										<div class="row">
											BILANS
										</div>
									</div> <!-- .col-md-3 -->
									<div class="col-md-3 col-centered">
										<div class="row">
											<span id="val_rest" class="testing-stat">44</span>
										</div>
										<div class="row">
											POZOSTAŁO
										</div>
									</div>
									<div class="col-md-3 col-centered">
										<div class="row">
											<span id="val_time" class="testing-stat">0:00</span>
										</div>
										<div class="row">
											CZAS
										</div>
									</div>
								</div> <!-- .container -->
							</div> <!-- .row -->
						</center>
						<!-- END TESTING -->
					</div> <!-- statystyki.div -->
				</div> <!-- .row -->
				<!-- Przyciski nawigacyjne -->
				<div class="row">
					<div class="container-fluid">
						<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<div class="btn-group" role="group">
								<button type="button" id="next_button" class="btn btn-default">Następny</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" id="repeat_button" class="btn btn-default">Powtórz</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" id="reset_button" class="btn btn-default">Reset</button>
							</div>
						</div> <!-- btn-group -->
					</div> <!-- .container -->
				</div> <!-- .row -->
			</div> <!-- #player -->

			<div class="row" id="interval-buttons">

				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button id="b0" type="button" class="btn btn-success btn-block interval-but">Pryma</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<button id="b1" type="button" class="btn btn-success btn-block interval-but">Sekunda mała</button>
					</div>
					<div class="col-md-5">
						<button id="b2" type="button" class="btn btn-success btn-block interval-but">Sekunda wielka</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<button id="b3" type="button" class="btn btn-success btn-block interval-but">Tercja mała</button>
					</div>
					<div class="col-md-5">
						<button id="b4" type="button" class="btn btn-success btn-block interval-but">Tercja wielka</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button id="b5" type="button" class="btn btn-success btn-block interval-but">Kwarta</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button id="b6" type="button" class="btn btn-success btn-block interval-but">Tryton</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button id="b7" type="button" class="btn btn-success btn-block interval-but">Kwinta</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<button id="b8" type="button" class="btn btn-success btn-block interval-but">Seksta mała</button>
					</div>
					<div class="col-md-5">
						<button id="b9" type="button" class="btn btn-success btn-block interval-but">Seksta wielka</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-offset-1">
						<button id="b10" type="button" class="btn btn-success btn-block interval-but">Septyma mała</button>
					</div>
					<div class="col-md-5">
						<button id="b11" type="button" class="btn btn-success btn-block interval-but">Septyma wielka</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<button id="b12" type="button" class="btn btn-success btn-block interval-but">Oktawa</button>
					</div>
				</div>

			</div> <!-- row interval_buttons -->
		</div> <!-- col-md-8 col-md-offset-2 -->
	</div> <!-- row -->
	<!-- INTERVALS -->
</div> <!-- container-fluid interval-content -->
<script type="text/javascript">

	/************************/
	/*    Moduł muzyczny    */
	/************************/

	MusicModule = Object();
	MusicModule.initializeMusicModule = -1;
	MusicModule.PlayInterval = function (value) {
		MIDI.loadPlugin({
			soundfontUrl: "/static/js/MIDI.js/soundfont/",
			instrument: "acoustic_grand_piano",
			onprogress: function(state, progress) {
				console.log(state, progress);
			},
			onsuccess: function() {
				var delay = 0; // play one note every quarter second
				var note = 60; // the MIDI note
				var velocity = 127; // how hard the note hits
				var length = 1;

				// Initialize
				if (value == MusicModule.initializeMusicModule) {
					MIDI.setVolume(0, 0);
					MIDI.noteOn(0, note, velocity, delay);
					MIDI.noteOff(0, note, velocity, delay + length);
					return;
				}
				else {
					MIDI.setVolume(0, 127);
				}

				MIDI.noteOn(0, note, velocity, delay);
				MIDI.noteOff(0, note, velocity, delay + length);
				MIDI.noteOn(0, note + value, velocity, delay + 1);
				MIDI.noteOff(0, note + value, velocity, delay + 1 + length);
			}
		});
	};
	MusicModule.Initialize = function() {
		MusicModule.PlayInterval(MusicModule.initializeMusicModule);
	};

	MusicModule.Initialize();

	/*****************************************************/
	/*    Struktura odpowiadająca za logikę aplikacji    */
	/*****************************************************/

	LogicModule = Object();

	LogicModule.STATE = {
		STATE_ZERO: 0,      /* Stan początkowy (żadne akcje oprócz wprowadzania ustawień nie są dostępne) */
		STATE_SETTINGS: 1,  /* Wprowadzanie ustawień */
		STATE_SET: 2,       /* Wprowadzono ustawienia */
		STATE_NEXT: 3,      /* Oczekiwanie na wprowadzenie odpowiedzi przez użytkownika */
		STATE_ANSWERED: 4,  /* Użytkownik wprowadził odpowiedź */
		STATE_END: 5,       /* Ćwiczenie zostało zakończone */
	};

	LogicModule.state = {
			state: LogicModule.STATE.STATE_ZERO,
			last_loaded_interval: 0,
	};

	function log_state() {
		console.log("LogicModule.state.state = " + LogicModule.state.state);
	}

	LogicModule.freshStatistics = function() {
		return {
			correct_answers: 0,
			incorrect_answers: 0,
			questions_to_end: 0,
		}
	};

	LogicModule.statistics = LogicModule.freshStatistics();
	function log_statistics() {
		console.log("questions_to_end = " + LogicModule.statistics.questions_to_end);
	}

	/* Wprowadza ustawienia dla nowej sesji ćwiczeniowej
	   Argumenty:
	   _num_of_questions - Liczba pytań
	   _min_interval - Minimalny interwał
	   _max_interval - Maksymalny interwał
	 */
	LogicModule.SetSettings = function(_num_of_questions, _min_interval, _max_interval) {
		LogicModule.statistics = LogicModule.freshStatistics();
		LogicModule.settings = {
			num_of_questions: _num_of_questions,
			min_interval: _min_interval,
			max_interval: _max_interval,
			first_voice_is_common: true,
		};
		LogicModule.statistics.questions_to_end = _num_of_questions;
		LogicModule.state.state = LogicModule.STATE.STATE_SET;
		log_statistics();
		log_state();
	};

	/* Zwraca losową liczbę naturalną z przedziału [min,max] */
	function randInt(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min
	}
	/* Generuje i gra następny interwał */
	LogicModule.Next = function() {
		console.log("Next: state = " + LogicModule.state.state);

		if (LogicModule.state.state == LogicModule.STATE.STATE_NEXT) {
			++LogicModule.statistics.incorrect_answers;
			--LogicModule.statistics.questions_to_end;

			/* Nie ma więcej pytań, ustawiam stan na STATE_END */
			if (LogicModule.statistics.questions_to_end == 0) {
				LogicModule.state.state = LogicModule.STATE.STATE_END;
				/* i wysyłam wyniki na serwer */
				LogicModule.SaveResult();
			}
		}

		if (LogicModule.state.state == LogicModule.STATE.STATE_NEXT
				|| LogicModule.state.state == LogicModule.STATE.STATE_SET
				|| LogicModule.state.state == LogicModule.STATE.STATE_ANSWERED) {

			LogicModule.state.last_loaded_interval = randInt(
					LogicModule.settings.min_interval,
					LogicModule.settings.max_interval);
			MusicModule.PlayInterval(LogicModule.state.last_loaded_interval);
			LogicModule.state.state = LogicModule.STATE.STATE_NEXT;
			log_state();
		}

	};

	/* Powtarza ostatni grany interwał */
	LogicModule.Repeat = function() {
		MusicModule.PlayInterval(LogicModule.state.last_loaded_interval);
	};

	/* Tworzy nową sesję ćwiczeniową z aktualnymi ustawieniami */
	LogicModule.Reset = function() {
		LogicModule.SetSettings(
				LogicModule.settings.num_of_questions,
				LogicModule.settings.min_interval,
				LogicModule.settings.max_interval
		);
		log_statistics();
	};

	/* Wysyła wynik zakończonego ćwiczenia na serwer */
	LogicModule.SaveResult = function() {

		var data = {
			l_blednych : LogicModule.statistics.incorrect_answers,
			l_poprawnych : LogicModule.statistics.correct_answers,
		}

		$.ajax({
			url : ".",
			type : "POST",
			data : data,
			success : function(response) {	
				alert("Dane zostały zmienione od czasu kliknięcia przycisku edytuj")
			},
			error : function(xhr,errmsg,err) {
				console.log("error");    
				console.log(xhr.status + ": " + xhr.responseText);
			},
		});
		console.log("koniec ćwiczenia");
		location.href = '/accounts/profile';
	}

	LogicModule.EnteredValidAnswer = function() {
		console.log("dobra odpowiedz");
		--LogicModule.statistics.questions_to_end;
		++LogicModule.statistics.correct_answers;
	}

	LogicModule.EnteredInvalidAnswer = function() {
		console.log("zla odpowiedz");
		--LogicModule.statistics.questions_to_end;
		++LogicModule.statistics.incorrect_answers;
	}

	/* Zmienia statystyki po wprowadzeniu odpowiedzi przez użytkownika */
	LogicModule.EnterAnswer = function(value) {
		if (LogicModule.state.state == LogicModule.STATE.STATE_NEXT) {
			if (value == LogicModule.state.last_loaded_interval) {
				LogicModule.EnteredValidAnswer();
			}
			else {
				LogicModule.EnteredInvalidAnswer();
			}
			LogicModule.state.state = LogicModule.STATE.STATE_ANSWERED;
			log_state();
		}
		else {
			console.log("LogicModule.STATE.STATE_NEXT = " + LogicModule.state.state);
		}

		/* Sprawdzam, czy nastąpił koniec */
		if (LogicModule.statistics.questions_to_end == 0) {
			console.log("state end");
			LogicModule.state.state = LogicModule.STATE.STATE_END;
			LogicModule.SaveResult();
			log_state();
		}
	};

	/*******************************/
	/*    Interfejs użytkownika    */
	/*******************************/

	function SetSettings() {
		console.log("set settings button");

		lunch_choice = document.getElementById("lunch").selectedIndex;
		var num_of_questions = 0;
		switch(lunch_choice) {
			case 1: num_of_questions = 5;
					break;
			case 2: num_of_questions = 10;
					break;
			case 3: num_of_questions = 20;
					break;
			case 4: num_of_questions = 100;
					break;
		}
		min_interval = document.getElementById("minint").selectedIndex - 1;
		max_interval = document.getElementById("maxint").selectedIndex - 1;

		/* Wprowadzam ustawienia do modułu */
		LogicModule.SetSettings(num_of_questions, min_interval, max_interval);

		/* Usuwam okno ustawień */
		$("#settings-content").hide();

		/* Wyświetlam okno managera */
		$("#manager-content").show();
		UpdateStatisticWindow();
	}

	function UpdateStatisticWindow() {
		log_statistics();
		/*
		$("#val_bilans").text("" + LogicModule.statistics.correct_answers + ":" +
				 LogicModule.statistics.incorrect_answers);
				 */
		$("#val_bilans_valid").text("" + LogicModule.statistics.correct_answers);
		$("#val_bilans_invalid").text("" + LogicModule.statistics.incorrect_answers);
		$("#val_rest").text("" + LogicModule.statistics.questions_to_end);
	}

	$(document).ready(function() {
			$('#obj').selectpicker({
			  liveSearch: true,
			  maxOptions: 1
			});
	});

	window.onload = function() {
		UpdateStatisticWindow();
		console.log("loaded");
		$("#myModal").on("show", function() {
				$("#myModal a.btn").on("click", function(e) {
					console.log("button pressed");
					$("#myModal").modal('hide');
				});
		});

		$("#myModal").on("hide", function() {
				$("#myModal a.btn").off("click");
		});


		$("#myModal").on("hidden", function() {
				$("#myModal").remove();
		});
	}

	$("#next_button").click(function() {
			//next_interval();
			LogicModule.Next();
			UpdateStatisticWindow();
	});

	$("#repeat_button").click(function() {
			//MusicModule.PlayInterval(LogicModule.statistics.act_interval);
			LogicModule.Repeat();
	});

	$("#reset_button").click(function() {
			LogicModule.Reset();
			UpdateStatisticWindow();
	});

	$("#b"+0).click(function() {
			LogicModule.EnterAnswer(0);
			UpdateStatisticWindow();
	});
	$("#b"+1).click(function() {
			LogicModule.EnterAnswer(1);
			UpdateStatisticWindow();
	});
	$("#b"+2).click(function() {
			LogicModule.EnterAnswer(2);
			UpdateStatisticWindow();
	});
	$("#b"+3).click(function() {
			LogicModule.EnterAnswer(3);
			UpdateStatisticWindow();
	});
	$("#b"+4).click(function() {
			LogicModule.EnterAnswer(4);
			UpdateStatisticWindow();
	});
	$("#b"+5).click(function() {
			LogicModule.EnterAnswer(5);
			UpdateStatisticWindow();
	});
	$("#b"+6).click(function() {
			LogicModule.EnterAnswer(6);
			UpdateStatisticWindow();
	});
	$("#b"+7).click(function() {
			LogicModule.EnterAnswer(7);
			UpdateStatisticWindow();
	});
	$("#b"+8).click(function() {
			LogicModule.EnterAnswer(8);
			UpdateStatisticWindow();
	});
	$("#b"+9).click(function() {
			LogicModule.EnterAnswer(9);
			UpdateStatisticWindow();
	});
	$("#b"+10).click(function() {
			LogicModule.EnterAnswer(10);
			UpdateStatisticWindow();
	});
	$("#b"+11).click(function() {
			LogicModule.EnterAnswer(11);
			UpdateStatisticWindow();
	});
	$("#b"+12).click(function() {
			LogicModule.EnterAnswer(12);
			UpdateStatisticWindow();
	});


/////////////////////////////////////CSRF PROTECTION PART/////////////////////////

function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) == (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}
var csrftoken = getCookie('csrftoken');

/*
   The functions below will create a header with csrftoken
 */

function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
	// test that a given url is a same-origin URL
	// url could be relative or scheme relative or absolute
	var host = document.location.host; // host + port
	var protocol = document.location.protocol;
	var sr_origin = '//' + host;
	var origin = protocol + sr_origin;
	// Allow absolute or scheme relative URLs to same origin
	return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		// or any other URL that isn't scheme relative or absolute i.e relative.
		!(/^(\/\/|http:|https:).*/.test(url));
}

$.ajaxSetup({
	beforeSend: function(xhr, settings) {
		if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
			// Send the token to same-origin, relative URLs only.
			// Send the token only if the method warrants CSRF protection
			// Using the CSRFToken value acquired earlier
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
		}
	}
}); 

</script>
{% endblock %}
