{% extends "dyktando/base.html" %}

{% block content %}
<style>
#funkc{
	margin-top: 20px;
}
.trener{
	color: green;
	font-weight: bold;
}
</style>


<h2>Cześć!</h2>
<div>
	Jeśli chciałbyś poszerzyć swoją wiedzę muzyczną, albo potrenować słuch - trafiłeś w dobre miejsce.
	<span class="trener">Trener muzyki</span> został stworzony, żeby pomóc muzykom (i nie tylko) w rozwijaniu swojej pasji. Dzięki
	tej aplikacji możesz w wygodny sposób odkryć z jakimi częściami muzyki masz największy problem, a 
	potem <span class="trener">Trener muzyki</span> pomoże Ci w pokonaniu przeszkód stojących na drodze Twojej kariery.
</div>
<div id="funkc">
	Możesz sprawdzić jak Ci idzie rozpoznawanie poszczególnych<a href="/interwaly/"> interwałów.</a> 
	Jeśli jesteś bardziej zaawansowanym zawodnikiem polecamy spróbowania swoich sił w <a href="/dyktando">dyktandzie muzycznym.</a>
	A może jesteś zupełnie początkujący? W takim wypadku, poczytaj o podstawach<a href="/teoria/"> teorii muzyki.</a>
	Masz już swoje konto?<a href="/login/"> Zaloguj się.</a> Jeśli nie masz konta<a href="/register/"> zarejestruj się</a>, 
	żeby móc śledzić na bieżąco swoje postępy w nauce.
</div>
	<h3>Zapraszamy do treningu!</h3>

{% endblock %}
