{% extends "dyktando/base.html" %}
{% load staticfiles %}

{% block content %}

<style>
	.green{
		color : green;
	}
	.red{
		color : red;
	}
</style>

{% if user.is_authenticated %}
	<h1>Cześć, {{user.get_username}}!</h1>
	<p>Oglądasz swój profil - miejsce, w którym możesz śledzić swoje postępy muzyczne i zmienić dane dotyczące Twojego konta. :)</p>
	<p>Rozwiązanych dyktand: {{user.musician.liczba_dyktand}}</p>
	<p>Rozwiązanych ćwiczeń interwałów: {{user.musician.liczba_interwalow}}</p>
	<p>Ocena z dyktand: {{user.musician.ocena_dyktand}}</p>
	<p>Rozpoznanych interwałów:<span class="green"> {{user.musician.poprawne_interwaly}}</span></p>
	<p>Błędnych interwałów: <span class="red">{{user.musician.bledne_interwaly}}</span></p>
{% else %}
	<p>Zaloguj się żeby mieć dostęp do swojego profilu ;)</p>
{% endif %}

{% endblock %}

