{% extends "dyktando/base.html" %}

{% block content %}

<h3>Hej,</h3> 
<h3>pracujemy nad tym, żebyś mógł poprawić swoje wyczucie rytmu.</h3>
<h3>Potrzebujemy jednak jeszcze trochę czasu...</h3>

{% endblock %}
