body {
	background-color: white;
	color: black;
}

a.menu-item {
	border-left: 5px solid #4ca84c;
	border-right: 5px solid #4ca84c;
}
a.menu-item:hover {
	border-left: 5px solid #282;
	border-right: 5px solid #282;
}

#my-navbar {
	border-top: 10px solid #282;
}

#my-content {
}
