{%extends "dyktando/base.html" %}

{% block content %}

{% if form.errors %}
<p>Podany login i/lub hasło są nieprawidłowe. Wprowadź poprawne dane</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>Użytkownik:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>Hasło:</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Zaloguj" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<div>
	<p> Nie masz konta? <a href="/register/"> Zarejestruj się.</></p>
</div>


{% endblock %}
