{%extends "dyktando/base.html"%}

{%block content%}

<h1>Zarejestruj się</h1>

<form action="." method="post">
    {% csrf_token %}
    
    <table>
        {% for field in form %}
	<tr>
           <td> {{ field.label_tag }}</td>
	   <td>{{ field }}</td>
	</tr>
        {% endfor %}
    </table>
    <td><input type="submit" value="Zatwierdz"/></td>
</form>


{%endblock%}

